.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
  /* margin-top: 10px; */
}

.header-container .headers, .results-container .movieResults {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.appResults .app_pic, .headers .header-pic {
  flex: 1 0 20%;
}
.appResults .app_appname, .headers .header-app {
  flex: 1 0 30%;
}

.headers .header-cat,.appResults .app_ccategory {
  flex: 1 0 25%;
  text-align: center;
}

.headers .header-rec, .appResults .app_pprice, .appResults .app_rrating{
  flex: 1 0 10%;
  text-align: center;
}

.appResults .app_pic img {
   height: 40px;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}

ul {
  list-style-type:none;
  padding-inline-start: 0px;
}